.home-container {
    width: 100%;
    height: 90vh;
    margin: 0 auto; 
    display: flex; 
    align-items: center;
    justify-content: center;  
}

.home-content {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;  
    align-items: center;  
}

.hero-img {    
    max-width: 400px;
    display: block;
    margin: auto;
}

.home-btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-top: 25px;
}


